@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

header {
  background-color: rgb(71, 0, 143);
  width: 100%;
  padding: 10px;
}

body {
    width: 100%;
    }

nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding-top: 2rem;
  margin: 0;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

nav a {
  text-decoration: none;
  color: rgb(245, 245, 245);
}

.titulo {
  font-family: 'Plus Jakarta Sans', sans-serif;
  padding: 20px;
  background-color: #5c1058;
}

.presentacion {
  font-family: 'Plus Jakarta Sans', sans-serif;
  padding: 20px;
  background-color: #d3a4ee;
  text-align: inherit;
}

.modalidades {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: #afa9cf;
  padding: 20px;
  img {
    max-width: 100%;
    justify-content: center;
  }
}

.beneficios {
  font-family: 'Plus Jakarta Sans', sans-serif;
  padding: 20px;
  background-color: #d3a4ee;
  display: flex;
  }

.beneficios img {
    max-width: 40px;
    justify-content: center;
    }


.educacion {
  font-family: 'Plus Jakarta Sans', sans-serif;
  padding: 20px;
  background-color: #afa9cf;
  img {
    max-width: 100%;
    justify-content: center;
  }
}

.servicios {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 20px;
  padding: 20px;
  background-color: #d3a4ee;
}

.servicios .row {
  align-items: center;
}

.carousel {
  max-width: 700px;
  margin: 0;
}

h1 {
    color: rgb(247, 241, 241);
    font-size: 45px;
    font-family:"Plus Jakarta Sans", sans-serif;
    text-align: center;
}

h2 {
    color: rgb(23, 24, 24);
    font-size: 30px;
    font-family:"Plus Jakarta Sans", sans-serif;
    text-align: center;
}

h3 {
    color: rgb(43, 44, 44);
    font-size: 22px;
    font-family:"Plus Jakarta Sans", sans-serif;
    text-align: center;
}

p {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family:"Plus Jakarta Sans", sans-serif;
    text-align: justify;
}

#footer {
  background-color: rgb(71, 0, 143);
  width: 100%;
  height: 60px;
  font-family:"Plus Jakarta Sans", sans-serif;
  color: rgb(242, 245, 245);
  padding-right: 20px;
  display: flex;
  gap: 10px;
  padding: 20px;
  justify-content: flex-end;
  align-items: center;
}

#footer p {
    padding-bottom: 10px;
    margin-left: 0%;
    }

#footer img {
    object-fix: cover;
    height: 30px;
    width: 50px;
    border-radius: 10%;
    margin-left: auto;
    }

.Textoeducacion {
    display: none;
    }

.btn {
    background-color: rgb(101, 14, 102);
    height: 25px;
    color:beige;
    font-size: 10px;
    justify-items: auto;
    }

.container-fluid {
    padding: 0%;
    }

